#cover{
    width: 250px;
    margin: 0 auto;
    background-color: black;
    color: white;
    border: solid 15px rgb(175, 39, 39);;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 3px black;
}
p{
    user-select: none;
}
#label{
    margin-top: 20px;
    text-align: center;
    padding-bottom: 0;
}
#screen{
    margin: 0 auto;
    background-color: whitesmoke;
    width: 80%;
    height: 150px;
}
button:active{
  background-color: red;
    outline: red;
}
button:focus{
    background-color: red;
    outline: red;
}
#display{
    height: 50px;
    text-align: right;
    color: black;
    padding-bottom: 0;
}
#display input{
    border: none;
    text-align: right;
    margin: 0;
    padding: 0;
    height: 25px;
    background-color: inherit;
}
#operand{
    float: left;
    width: 25px;
    text-align: left !important;
}
#cal{
    width: 50%;
    height: 90px;
    margin: 0 auto;
    background-color: rgb(175, 39, 39);
    border-radius: 100%;
    color: black;
    font-weight: bold;
    display: grid;
    grid-template-columns: 30px 30px 30px;
    grid-auto-rows: 30px;
    grid-template-areas: "plus plus plus" "mult equal div" "minus minus minus";
    justify-content: center;
    padding: 0;
}
.op{
    padding: 6px 10px;
    font-weight: bolder;
    margin: 0;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
    border-radius: 100%;
}

#plus{
    grid-area: plus;
    margin: 0 auto;
}
#mult{
    grid-area: mult;
}
#div{
    grid-area: div;
}
#equal{
    grid-area: equal;
    background-color: rgb(134, 11, 11);
    border-radius: 100%;
    padding: 6px 10px;
}
#minus{
    grid-area: minus;
    margin: 0 auto;
}
.op:hover{
    background-color: red !important;
}
#calc{
    padding-top: 5px;
    width: 100%;
    height: 100px;
    background-color: rgb(121, 78, 78);
}
#clear{
    user-select: none;
    margin-top: -8px;
    float: left;
    padding-left: 5px;
}
#back{
    user-select: none;
    float: right;
    margin-top: -8px;
    padding-right: 5px;
}
.btm{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.78);
}
.btm:hover{
    color: white;
}
#buttons{
    height: 300px;
    margin: 50px auto 0 auto;
    background-color: black;
    display: grid;
    grid-template-columns: 83px 83px 83px;
    grid-auto-rows: 50px;
    grid-template-areas: "clear centre back" "call centre shutdown" "one two three" "four five six" "seven eight nine" "star zero hash";
}
#buttons input{
    outline: none;
    color: rgba(255, 255, 255, 0.64);;
    background-color: rgba(19, 17, 17, 0.63);
    border-radius: 5px;
    border: solid 1px rgba(37, 35, 35, 0.36);
    cursor: pointer;
}
#buttons input:hover{
    background-color: rgba(39, 35, 35, 0.63);
}
#center_button{
    grid-area: centre;
    border-radius: 20px;
    border: solid 2px rgba(255, 255, 255, 0.36);
    width: 70px;
    height: 70px;
    margin: auto;
    background-color: rgb(37, 33, 33);
    cursor: pointer;
    display: grid;
    grid-template-columns: 23px 23px 23px;
    grid-auto-rows: 23px;
    grid-template-areas: "x add y" "times EQ divide" "u sub v";
}
#add{
    grid-area: add;
}
#times{
    grid-area: times;
}
#EQ{
    grid-area: EQ;
}
#divide{
    grid-area: divide;
}
#sub{
    grid-area: sub;
}
#center_button input{
    background-color: rgb(37, 33, 33);
}
#center_button input:hover{
    background-color: rgb(68, 66, 66);
}
